<html>
  <head>
  </head>
  <body>
    <p>
      What word?
    </p>
    <form action="/set" method="post">
      <input type='text' name='Answer' />
      <input type='submit' value='Submit' />
    </form>

  </body>
</html>
