<html>
  <head></head>
  <body>
    <p>
      The secret number is <%= random_number %>
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
      <p>
        <%=guess_string%>
      </p>
  </body>
</html>
